@using EnvanterTakipSt.EFModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>@ViewData["Title"] - Envanter Takip Sistemi</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="~/assets/img/favicon.png" rel="icon">
	<link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.20/sweetalert2.min.js" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="~/assets/css/style.css" rel="stylesheet">

	<style>
		#example_wrapper {
			margin: 20px
		}

		.ozel_buton {
			color: red
		}
	</style>
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="anasayfa.html" class="logo d-flex align-items-center">
				<span class="d-none d-lg-block">Envanter Takip Sistemi</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->
		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item dropdown pe-3">

					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity.Name</span>
					</a>

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li>
							<a class="dropdown-item d-flex align-items-center" href="@Url.Action("Cikis","Yonetim")">
								<i class="bi bi-box-arrow-right"></i>
								<span>Çıkış Yap</span>
							</a>
						</li>

					</ul><!-- End Profile Dropdown Items -->
				</li><!-- End Profile Nav -->

			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString().Equals("Index") ? "" : "collapsed")" href="@Url.Action("Index", "Yonetim")">
					<i class="bi bi-grid"></i>
					<span>Özet</span>
				</a>
			</li>

			<li class="nav-item ">
				<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString().Equals("Malzemeler") ? "" : "collapsed")" href="@Url.Action("Malzemeler", "Yonetim")">
					<i class="bi bi-bag"></i>
					<span>Malzemeler</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString().Equals("Personeller") ? "" : "collapsed")" href="@Url.Action("Personeller", "Yonetim")">
					<i class="bi bi-file-person"></i>
					<span>Personeller</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString().Equals("Departmanlar") ? "" : "collapsed")" href="@Url.Action("Departmanlar", "Yonetim")">
					<i class="bi bi-briefcase"></i>
					<span>Departmanlar</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString().Equals("SistemKullanicilari") ? "" : "collapsed")" href="@Url.Action("SistemKullanicilari", "Yonetim")">
					<i class="bi bi-person-plus"></i>
					<span>Sistem Kullanıcıları</span>
				</a>
			</li>

		</ul>

	</aside><!-- End Sidebar-->

	<main id="main" class="main">

		@RenderBody()

	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; 2023 <strong><span>Envanter Takip Sistemi</span></strong>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->

	<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/chart.js/chart.umd.js"></script>
	<script src="~/assets/vendor/echarts/echarts.min.js"></script>
	<script src="~/assets/vendor/quill/quill.min.js"></script>
	<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="~/assets/vendor/php-email-form/validate.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	<!-- Template Main JS File -->
	<script src="~/assets/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>